{% extends "base.html" %}

{% block content %}
  <h1>List of Post Entries</h1>

  {% comment %} here is where the query happens {% endcomment %}
  {% for post in posts %}
  <div class="post">
    <h2>
      <a href="{% url 'blog_detail' post.pk %}">{{ post }}</a>
    </h2>
    <p class="byline">
      <!--{{ post.author_name }} - {{ post.published_date }}-->
      Posted by {{ post.author }} <br> 
      Posted on {{ post.published_date }} 
    </p>
    <div class="post-body">
      <!--{{ post.text }}-->
    </div>
    <ul class="categories">
      {% for cat in post.categories.all %}
        <li>{{ cat }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock content %}